tz.shulide.top {
        encode zstd gzip

        header +Cache-Control "max-age=0, private, must-revalidate"

        handle_path /api/* {
                reverse_proxy node-server:4001
        }

        uri strip_suffix /

        root * /app/frontend/monitor/dist

        handle {
                templates
                try_files {path}.html {path} /
                file_server
        }
}
